/* Make changes to this file */

.form-container {
  max-width: 700px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.form-header {
  margin-bottom: 2.5rem;
}

.error-alert {
  max-width: 700px;
  margin: auto;
}
