body
{
    scroll-behavior: smooth;
    font-family: "Raleway", 'Segoe UI', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}
section > h1
{
    font-size: 40px;
    margin-bottom: 0;
}
hr
{
    border: 0.5px solid black;
}
#login
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#login > section
{
    text-align: center;
    width: 50%;
    height: 100vh;
}
#left
{   
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.6)), url('../images/first.jpg');
    background-size: 100vw 100vh;
    background-position: -230px 0px;
    background-repeat: no-repeat;
    background-clip: border-box;
    padding-top: 30vh;
    
}
#signup-button
{
    text-decoration: none;
    display: block;
    background: rgba(255,255,255,0.2);
    width: 120px;
    cursor: pointer;
    margin: 40px auto;
    font-weight: 900;
    font-size: 20px;
    padding: 13px 40px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    transition: 0.8s ease-out;
}
#signup-button:hover
{
    background: rgba(255,255,255,0.8);
}

#right
{
    background: darkorange;
    color: white;
}
#right > form
{
    margin-top: 100px;
}
#right > form > *
{
    display: block;
    text-align: left;
    margin: 20px 10vw;
}
#right > form > input
{
    padding: 10px 5px;
    font-family: "Raleway", 'Segoe UI', sans-serif;
    font-size: 20px;
    width: 300px;
}
#login-button
{
    text-decoration: none;
    display: block;
    background: rgb(0, 0, 30);
    color: rgb(220, 220, 220);
    cursor: pointer;
    margin: 40px auto;
    font-size: 20px;
    padding: 12px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-out;
}
#login-button:hover
{
    padding-right: 45px;
}
#signup
{
    display: none;
}