*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat";
  box-sizing: border-box;
  height: 100vh;
  line-height: 1.4;
  font-size: 20px;
  --orange: darkorange;
}

/* Login styles */

.login-body {
  height: 100%;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.welcome-text {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/first.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  /* background-clip: border-box; */
  /* padding-top: 30vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-form {
  background: var(--orange);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-form-body,
.welcome-text-body,
.register-text-body,
.register-form-body {
  padding: 1.7rem;
}

/* Signup styles */
.signup-body {
  height: 100%;
}

.register-grid {
    display: grid;
  grid-template-columns: 1fr 1fr;
}

.register-text {
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/second.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-clip: border-box; */
}

/* Text */
.text-center {
  text-align: center;
}

.main-header {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.main-register-header {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.second-main-header {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.blow-off-steam {
  color: #000;
  margin-bottom: 2rem;
}

/* Buttons */
.login-signup-button {
  text-decoration: none;
  width: 50%;
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  margin: 1.5rem auto;
  font-size: 20px;
  padding: 13px 40px;
  outline: none;
  box-shadow: 0 0 5px rgba(3, 3, 3, 0.4);
  border-radius: 15px;
  color: #000;
  transition: 0.8s ease-out;
}

.login-signup-button:hover {
  background: rgba(255, 255, 255, 0.8);
}

.login-login-button {
  text-decoration: none;
  display: block;
  background: rgb(0, 0, 30);
  color: rgb(220, 220, 220);
  cursor: pointer;
  margin: 40px 10vw;
  font-size: 20px;
  padding: 12px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: 0.4s ease-out;
}

.login-login-button:hover {
  padding-right: 45px;
}

.signup-login-button {
  text-decoration: none;
  display: block;
  background: rgb(0, 0, 30);
  color: white;
  width: 50%;
  cursor: pointer;
  margin: 1.3rem auto;
  font-weight: 900;
  font-size: 20px;
  padding: 13px 40px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  transition: 0.8s ease-out;
}

.signup-login-button:hover {
  background-color: rgb(50, 50, 120);
}

.signup-signup-button {
  text-decoration: none;
  display: block;
  background: rgb(200, 200, 200);
  color: rgba(0, 0, 0, 0.8);
  border: 3px solid rgba(0, 0, 0, 0.8);
  cursor: pointer;
  margin: 60px 180px;
  font-weight: 600;
  font-size: 17px;
  padding: 10px 30px;
  outline: none;
  border-radius: 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transition: 0.4s ease-out;
}

.signup-signup-button:hover {
  background-color: rgb(150, 150, 150);
  padding-right: 50px;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type="submit"],
button {
  font: inherit;
}

/* Media queries */
@media (max-width: 700px) {
  .grid-2,
  .register-grid {
    grid-template-columns: 1fr;
  }

  .main-header {
    font-size: 3rem;
  }

  .second-main-header {
    font-size: 2rem;
  }

  .login-signup-button,
  .signup-login-button,
  .signup-signup-button {
    width: 70%;
  }

  .register-text,
  .register-form {
    width: 100vw;
  }

  .signup-signup-button {
    margin: 60px auto;
  }
}
